html {
  font: normal normal 30px/1 "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #eee4da;
}

h1 {
  color: #776e65;
  font-size: 74px;
  line-height: 66px;
  text-align: center;
  display: inline-block;
  padding-left: 20px;
}

.score {
  background-color: #f2b179;
  color: #ad0066;
  width: 30%;
  margin-left: 490px;
  border-radius: 0.5rem;
  display: inline-block;
  background-image: url(http://media.giphy.com/media/138i1MiNVi9P0Y/giphy.gif);
}

.score-title {
  text-align: center;
  padding-top: 20px;
  margin: 0;
  display: inline-block;

}

.numbers {
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
  display: inline-block;

}

#gameboard {
  background: #81A4B9;
  border-radius: 0.5rem;
  height: 18.5rem;
  margin: 1rem auto;
  position: relative;
  width: 18.5rem;
}

.cell {
  background: rgba(238, 228, 218, 0.35);
  border-radius: 0.5rem;
  float: left;
  height: 4rem;
  margin: 0.5rem 0 0 0.5rem ;
  width: 4rem;
}

.tile {
  position: absolute;
  top: 0; left: 0;
  transition: all 0.2s ease-in-out;

  color: #f9f6f2;
  background: #000;

  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 4rem;
  height: 4rem;
  margin: 0.5rem 0 0 0.5rem ;
  text-align: center;
  width: 4rem;
}


.tile[data-row=r0] { top: 0; }
.tile[data-row=r1] { top: 4.5rem; }
.tile[data-row=r2] { top: 9rem; }
.tile[data-row=r3] { top: 13.5rem; }

.tile[data-col=c0] { left: 0; }
.tile[data-col=c1] { left: 4.5rem; }
.tile[data-col=c2] { left: 9rem; }
.tile[data-col=c3] { left: 13.5rem; }

.tile[data-val="2"]    { color: #776e65; background-color: #eee4da; }
.tile[data-val="4"]    { color: #776e65; background-color: #ede0c8; }
.tile[data-val="8"]    { background-color: #f2b179; }
.tile[data-val="16"]   { background-color: #f59563; }
.tile[data-val="32"]   { background: #D13D94; }
.tile[data-val="64"]   { background: #990099; }
.tile[data-val="128"]  { background: #CADA2A; }
.tile[data-val="256"]  { background: #FFFF00; color: #776e65 }
.tile[data-val="512"]  { background: #4D8963; }
.tile[data-val="1024"] { background: #AA0114; }
.tile[data-val="2048"] { background: #D13D94; }
